@page "/admin/dayedit"
@page "/admin/dayedit/{Id}/{Language}"
@using TabiTravel.UI.Shared.Component
@layout AdminLayout


<h3>Day Edit</h3>
<div class="form-group col-md-6">

    @if (String.IsNullOrWhiteSpace(Id))
    {
        <EditForm Model="@FilterAdminPageItem">
            <InputRadioGroup @bind-Value="FilterAdminPageItem.IsExisting" class="mt-4">
                <InputRadio Value="false" @onclick="() => CountryChoice()" /> New day <br />
                <InputRadio Value="true" @onclick="() => CountryChoice()" /> Existing day <br />
            </InputRadioGroup>

            @if (@FilterAdminPageItem.IsExisting)
            {
                <label class="mt-3" for="SelectDay">Select day<span class="text-danger ml-1">*</span></label>
                <InputSelect class="col-6 form-control" @bind-Value="@FilterAdminPageItem.DayId" id="inputDay">
                    <option selected value="0" disabled>No day selected</option>
                    @foreach (var day in Days)
                    {
                        <option value="@day.DayId">@day.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => FilterAdminPageItem.CountryId)" />
            }
            <DataAnnotationsValidator />
        </EditForm>
    }

    <EditForm Model="@Item" OnValidSubmit="@HandleValidRequest">

        <label class="mt-3" for="inputLanguage">Language<span class="text-danger ml-1">*</span></label>
        <InputSelect class="col-6 form-control" @bind-Value="@Item.LanguageCodeIso" id="inputLanguage">
            <option selected value="0" disabled>No language selected</option>
            @foreach (var language in Languages)
            {
                <option value="@language.ISOCode">@language.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Item.LanguageCodeIso)" />


        <label class="mt-3 col-6" for="inputName">Name <span class="text-danger ml-1">*</span></label>
        <InputText class="form-control" @bind-Value="@Item.Name" id="inputName"></InputText>
        <ValidationMessage For="@(() => Item.Name)" />

        <p class="text-muted mt-3"><span class="text-danger font-weight-normal h4 mr-1">*</span>Requiered field</p>
        <BtnSaveAndCancel ReturnLink="/admin/countrylistoverview" />

        <DataAnnotationsValidator />
    </EditForm>

</div>